<!DOCTYPE html>
<html>
  <include file='Common/head' />
    <body>
        <div class="layui-layout layui-layout-admin">
            <div class="layui-header header header-demo">
                <div class="layui-main">
                    <a class="logo" href="./index.html">
                       商城管理后台
                    </a>
                    <ul class="layui-nav" lay-filter="">
                      <li class="layui-nav-item"><img src="__PUBLIC__/Admin/images/logo.png" class="layui-circle" style="border: 2px solid #A9B7B7;" width="35px" alt=""></li>
                      <li class="layui-nav-item">
                        <a href="javascript:;"><?php echo $_SESSION['username'];?></a>
                        <dl class="layui-nav-child"> <!-- 二级菜单 -->
                         
                          <dd><a href="<?php echo U('Admin/loginout')?>">退出</a></dd>
                        </dl>
                      </li>
                      <!-- <li class="layui-nav-item">
                        <a href="" title="消息">
                            <i class="layui-icon" style="top: 1px;">&#xe63a;</i>
                        </a>
                        </li> -->
                      <li class="layui-nav-item x-index"><a href="/">前台首页</a></li>
                    </ul>
                </div>
            </div>
            <div class="layui-side layui-bg-black x-side">
                <div class="layui-side-scroll">
                    <ul class="layui-nav layui-nav-tree site-demo-nav" lay-filter="side">
                        <?php foreach($btons as $k=>$v):?>
                        <li class="layui-nav-item">
                            <a class="javascript:;" href="javascript:;">
                                <i class="layui-icon" style="top: 3px;">&#xe61d;</i><cite><?php echo $v['pri_name']?></cite>
                            </a>
                            <dl class="layui-nav-child">
                                <?php foreach($v['children'] as $v1):?>
                                <dd class="">
                                    <dd class="">
                                        <a href="javascript:;" _href="<?php echo U($v1['module_name'].'/'.$v1['controller_name'].'/'.$v1['action_name']); ?>">
                                            <cite><?php echo $v1['pri_name']?></cite>
                                        </a>
                                    </dd>
                                </dd>
                               <?php endforeach;?>
                            </dl>
                        </li>
                        <?php endforeach;?>
                       
                    </ul>
                </div>

            </div>
            <div class="layui-tab layui-tab-card site-demo-title x-main" lay-filter="x-tab" lay-allowclose="true">
                <div class="x-slide_left"></div>
                <ul class="layui-tab-title">
                    <li class="layui-this">
                        我的桌面
                        <i class="layui-icon layui-unselect layui-tab-close">ဆ</i>
                    </li>
                </ul>
                <div class="layui-tab-content site-demo site-demo-body">
                    <div class="layui-tab-item layui-show">
                        <iframe frameborder="0" src="./welcome.html" class="x-iframe"></iframe>
                    </div>
                </div>
            </div>
            <div class="site-mobile-shade">
            </div>
        </div>
        <script src="__PUBLIC__/Admin/lib/layui/layui.js" charset="utf-8"></script>
        <script src="__PUBLIC__/Admin/js/x-admin.js"></script>
     
    </body>
</html>