<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            X-admin v1.0
        </title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" href="__PUBLIC__/Admin/css/x-admin.css" media="all">
    </head>
    <body>
        <div class="x-body">

            <table class="layui-table">
                <thead>
                    <tr>
                        <th colspan="2" scope="col">网站信息</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="30%">系统版本</td>
                        <td>v1.0.0</td>
                    </tr>
                    <tr>
                        <td>开发作者</td>
                        <td>zxca</td>
                    </tr>
                    <tr>
                        <td>服务器环境</td>
                        <td>windows</td>
                    </tr>

                </tbody>
            </table>
        </div>

        <script src="__PUBLIC__/Admin/lib/layui/layui.js" charset="utf-8"></script>
        <script src="__PUBLIC__/Admin/js/x-admin.js"></script>

    </body>
</html>